@charset "utf-8";
@import './base.scss';

#app{
    width: 100%;
    height: 100%;
    background-image: url('./../images/1.png');
}
.base64{
    width: 100px;
    height: 100px;
    background-image: url('./../images/3.jpg');
}