@charset "utf-8";
@import './base.scss';

#app{
    width: 802px;
    margin: 0 auto;
    background-size: 100% 100%;
    @include flex_center(flex-start, flex-start);
}
.aside{
    width: 220px;
    background-color: #f5f5f5;
    padding: 26px;
    height: 100%;
    flex-shrink: 0;
}
.aside-list{
    &>div{
        text-align: left;
        margin-bottom: 10px;
    }
}
.aside-name{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.aside-head{
    margin-bottom: 10px;
    width: 100%;
    img{
        width: 100%;
    }
}
.main{
    padding-left: 20px;
    font-size: 14px;
}
.main-item{
    margin-bottom: 10px;
}
.item-list__title{
    .item-list__left{
        margin-right: 5px;
    }
    .item-list__right{
        font-weight: bold;
    }
}
.item-title{
    font-weight: bold;
    margin-bottom: 10px;
}
.item-list{
    &__desc{
        margin-bottom: 5px;
    }
}